body {
  font-family: "EB Garamond", serif;
}

.map-area {
  border-left: 1px dotted black;
  display: flex;
  flex-direction: column;
  float: right;
  width: 69%;
  height: 100vh;
}

.subheader {
  border-bottom: 1px solid black;
  float: left;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  width: 95%;
}

.map {
  width: 95%;
  margin-left: 0.5rem;
}

.data {
  float: left;
  text-align: center;
  width: 30%;
}

.names {
  font-size: 4rem;
}

.numbers {
  font-size: 4rem;
}

.countries {
  background: #efefef;
  font-size: 1.2rem;
  overflow: hidden;
}

.marie-countries {
  float: left;
  width: 50%;
}

.ulad-countries {
  float: right;
  width: 50%;
}

.flag {
  vertical-align: bottom;
  width: 20px;
}
